### Build dir ###
01-hello-world/build
01-hello-world/.vscode
02-configure-header-file/build
02-configure-header-file/.vscode
03-specify-cpp-standard/build
03-specify-cpp-standard/.vscode
04-static-library/build
04-static-library/.vscode
05-shared-library/build
05-shared-library/.vscode
06-third-party-library/build
06-third-party-library/.vscode
07-code-generation/build
07-code-generation/.vscode
08-testing-support/gtest/build
08-testing-support/gtest/.vscode
08-testing-support/catch2/build
08-testing-support/catch2/.vscode
09-installing/build
09-installing/.vscode
11-static-code-analysis/scan-build/build
11-static-code-analysis/scan-build/.vscode
11-static-code-analysis/cppcheck/build
11-static-code-analysis/cppcheck/.vscode
11-static-code-analysis/clang-format/build
11-static-code-analysis/clang-format/.vscode
12-cdash-and-ci-pipeline/build
12-cdash-and-ci-pipeline/CTestConfig.cmake.in
14-documentation-generation/sphinx_doxygen/build
14-documentation-generation/sphinx_doxygen/.vscode
14-documentation-generation/sphinx_needs/build
14-documentation-generation/sphinx_needs/.vscode