### Build dir ###
01-hello-world/build
01-hello-world/.vscode
02-configure-header-file/build
02-configure-header-file/.vscode
03-specify-cpp-standard/build
03-specify-cpp-standard/.vscode
04-static-library/build
04-static-library/.vscode
05-shared-library/build
05-shared-library/.vscode