### Build dir ###
01-hello-world/build
01-hello-world/.vscode
02-configure-header-file/build
02-configure-header-file/.vscode
03-specify-cpp-standard/build
03-specify-cpp-standard/.vscode
04-static-library/build
04-static-library/.vscode
05-shared-library/build
05-shared-library/.vscode
06-third-party-library/build
06-third-party-library/.vscode
07-code-generation/build
07-code-generation/.vscode
08-testing-support/gtest/build
08-testing-support/gtest/.vscode
08-testing-support/catch2/build
08-testing-support/catch2/.vscode
09-installing/build
09-installing/.vscode